@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img, video, iframe{
    vertical-align: middle;
}
img, video{
    max-width: 100%;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: white;
}

/* gnb */
#gnb{
    z-index: 1; /* 다른 엘리먼트보다 위로 올리기 */
    height: 79.92px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.gnb_inner{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.gnb_inner ul{
    display: flex;
    width: 33%;
    align-items: center;
}
.gnb_inner ul li{
    width: 50%;
    text-align: center;
}
.gnb_inner h1{
    width: 130px;
}
.gnb_inner h1 img{
    width: 100%;
}

/* 세부메뉴 내용 */
.slide ul{
    display: contents;
    font-size: 70px;
}
.ham_box{
    width: 80%;
    margin: 120px auto 0;
    display: flex;
    justify-content: center;
}
.ham_text{
    width: 40%;
}

.ham_text ul li{
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
.ham_img{
    width: 50%;
    line-height: 541px;
}
.ham_img img{
    vertical-align: middle;
    width: 100%;
}
.artist{
    line-height: 10px;
    padding: 5px 0;
}
.artist span{
    font-size: 75px;
}
.artist li{
    padding: 10px !important;
}
.artist li a{
    font-size: 40px;
    font-weight: 200;
}
.no_pa{
    padding-bottom: 0 !important;
}


/* gnb hover값 */
#gnb ul li a:hover{
    color: #8f69ab;
}


/* 햄버거 */
/*필요스타일시작*/

		/*햄버거 버튼모양*/
		.slide-open {
            position: fixed;
            top: 14px;
            left: 59px;
            width: 69px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
        }
		.burgur{
		left: 70px;
		top: 36px;
		position: fixed;
		width: 50px;
		height: 3px;
		background: #ffffff;
		}
		.burgur .top-line{
		width: 50px;
		height: 3px;
		background-color: #ffffff;
		bottom: -8px;
		content: '';
		position: absolute;
		left: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;

		}
		.burgur .bot-line {
		width: 50px;
		height: 3px;
		background-color: #ffffff;
		top: -8px;
		content: '';
		position: absolute;
		left: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;
		}

		.burgur.on {
		width: 0;
		}
		.burgur.on .bot-line {
		-webkit-transform: translateY(5px) rotate(135deg);
		transform: translateY(8px) rotate(135deg);
		}
		.burgur.on .top-line{
		-webkit-transform: translateY(-5px) rotate(-135deg);
		transform: translateY(-8px) rotate(-135deg);
		}

		/*메뉴부분 모양*/
		.slide{
			padding-top:50px;
			width:100%;/*이 너비에 따라 보이는 부분이 변화함*/
			position:fixed;
			left:-200%;
			top:0;
			bottom:0;
			-webkit-transition: left .3s;
			-moz-transition: left .3s;
			-ms-transition: left .3s;
			-o-transition: left .3s;
			transition: left .3s;
			background-color:#000000;
		}
		.slide-title{
			width:100%;
			height:100px;
			font-size:42px;
			display:flex;
			justify-content:center;
			align-items:center;
			border-bottom:1px solid #e1e1e1;
		}
		.slide.on{
			left:0;
		} 
	
		
		/*필요스타일끝*/

/* 중앙라인 center line */
.first_box{
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}
.line1{
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto;
    height: 75%;
    transform: translateX(-50%);
}

.line2{
    position: absolute;
    top: 13%;
    left: 50%;
    width: auto;
    height: 90%;
    transform: translateX(-50%);
}


        #main_video video{
            margin-top: 79.92px;
          width: 100%;
        }


.m_video{
    display: none;
}



/* con1 */
#con1{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: "Noto sans";
}
#con1 img{
    width: 40%;
    margin-top: 200px;
}
#con1 h1{
    font-size: 70px;
    font-weight: bold;
    margin-top: 100px;
}
#con1 h2{
    font-size: 30px;
    font-weight: bold;
    margin: 43px 0;
}
#con1 p{
    font-size: 26px;
    font-weight: lighter;
    line-height: 45px;
}



/* con2 */
#con2{
    margin-top: 150px;
}
.con2_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.con2_box img{
    width: 45%;
    height: 100%;
}
.text_box{
    width: 45%;
    padding-top: 18px;
}
.text_box h1{
    display: inline-block;
    font-size: 80px;
    font-family: "Josefin Sans";
    font-weight: bold;
    background-image: linear-gradient(to right, #686EB3, #946BAE, #7DB9E8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.text_box p{
    font-size: 25px;
    font-family: "noto sans";
    margin-top: 50px;
    line-height: 40px;
    font-weight: 300;
}
.right_box{
    text-align: right;
}
.right_box p{
    margin-top: 80px;
}
.value{
    display: flex;
    float: right;
    font-size: 30px;
    padding: 10px 0;
}
.value h2{
    padding-left: 15px;
}
.con2_box2{
    margin-top: 150px;
}



/* BI */
#bi>h1{
    text-align: center;
    font-size: 310px;
}
#bi{
    position: relative;
    margin-top: 200px;
    overflow: hidden;
    padding-bottom: 31px;
}
.bi_box{
    position: absolute;
    top: 20%;
    left: 55%;
    width: 35%;
    position: relative;
    border-top: white 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bi_box p{
    margin-top: 25px;
    line-height: 30px;
    padding-left: 30px;
    font-size: 20px;
    width: 90%;
    padding-bottom: 20px;
    font-family: "noto sans";
}
.img_box{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    margin-top: 20px;
    font-family: "noto sans-serif";
}

.img_box img{
    width: 45%;
    height: 100%;
}

.img_box h1{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 40px;
}
.image2{
    width: 30% !important;
}
.bi_box h2{
    position: absolute;
    top: -5%;
    left: 0%;
    background-color: black;
    padding: 0 44px;
    font-size: 40px;
}

.bi_box2{
    margin-top: 450px;
    position: absolute;
    left: 10%;
    width: 35%;
    position: relative;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bi_box2 h2{
    position: absolute;
    top: -5%;
    right: 0%;
    background-color: black;
    padding: 0 44px;
    font-size: 40px;
}
.img_box2{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
}
.img_box2 div{
    width: 18%;
    padding-bottom: 18%;
    box-sizing: border-box;
}

.c1{
    background-color: #502f7b;
}
.c1:hover{
    background: url(../images/aboutgio/color_hover_1.png) no-repeat 0 0;
    background-size: 100%;
}
.c2{
    background-color: #b566a9;
}
.c2:hover{
    background: url(../images/aboutgio/color_hover_2.png) no-repeat 0 0;
    background-size: 100%;
}
.c3{
    background-color: #686eb4;
}
.c3:hover{
    background: url(../images/aboutgio/color_hover_3.png) no-repeat 0 0;
    background-size: 100%;
}
.c4{
    background-color: #231f20;
}
.c4:hover{
    background: url(../images/aboutgio/color_hover_4.png) no-repeat 0 0;
    background-size: 100%;
}
.c5{
    background-color: #ffffff;
}
.c5:hover{
    background: url(../images/aboutgio/color_hover_5.png) no-repeat 0 0;
    background-size: 100%;
}


.bi_box2 p {
    text-align: right;
    margin-top: 25px;
    line-height: 30px;
    font-size: 20px;
    width: 90%;
    padding-bottom: 20px;
    font-family: "noto sans";
    padding-left: 27px;
}


.bi_box3{
   margin-top: 450px;
}
.bi_box3 p{
    padding-bottom: 40px;
}
span{
    font-family: "Josefin Sans";
}


/* 지도 */
#map{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}
#map h1{
    margin: 0 auto;
    width: 70%;
}
#map h1 img{
    width: 100%;
}
.address_box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.address_box p{
    font-family: "noto sans";
    font-size: 20px;
    font-weight: bold;
}
.address{
    width: 70%;

    display: flex;

}
.address img{
    width: 3%;
    height: fit-content;
    margin-right: 10px;
}
.phone{
    display: flex;
    width: 20%;
    justify-content: flex-start;
}
.phone img{
    width: 12%;
    height: fit-content;
    padding-right: 6px;
}

.mapp{
    margin: 30px 0;
}




        /* footer */
#footer{
    margin-top: 150px;
    position: relative;
    margin-bottom: 30px;
}
#footer>img{
    width: 100%;
}
.footer_in{
    position: absolute;
    text-align: center;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(194, 194, 194);
}
.footer_in img{
    width: 30%;

}
.footer_in ul{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 20px;
    list-style: inside;
}
.footer_in ul li{
    padding: 0 10px;
}
.footer_in ul li a{
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-family: "Noto sans";
}


/* BI부분 텍스트 크기조절 */
@media (min-width:1320px) and (max-width:1745px){
    .bi_box p {
        font-size: 15px;
    }

    .bi_box2 p {
        font-size: 15px;
    }

    .img_box h1 {
        font-size: 30px;
    }
    .text_box p {
        font-size: 23px;
    }
}



/* where are we 주소 전화번호 글씨크기조절 */
@media (min-width:1320px) and (max-width:1504px){
    .address_box p {
        font-size: 18px;
    }
}

@media (min-width:1320px) and (max-width:1361px){
    .address_box p {
        font-size: 16px;
    }
}

/* tablet */
@media (min-width:768px) and (max-width:1319px){
    
    .gnb_inner{
        width: 100%;
        justify-content: center;
    
    }
    .gnb_inner ul{
        width: 25%;
    }
    
    .burgur{
        left: 30px;
    }
    .slide-open {
 
            position: fixed;
            top: 14px;
            left: 20px;
            width: 69px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
        }

    .slide ul{
        font-size: 50px;
    }
    .artist li a{
        font-size: 30px;
    }
    .artist_title img {
        padding-right: 50px;
    }
    .ham_text{
        width: 47%;
    }
    .ham_img{
        line-height: 450px;
    }


    /* video */

    /* 중간라인 center line */
    .line1 {
        position: absolute;
        top: 24%;
        height: -webkit-fill-available;
    }
    }
    .line2 {
        top: 10%;
        height: 90%;
    }

    /* con1 */
    #con1 img {
        margin-top: 70px;
    }
    #con1 h1 {
        font-size: 42px;
    }

    #con1 h2 {
        font-size: 20px;
    }

    #con1 p {
        font-size: 18px;
        line-height: 35px;
    }

    /* con2 */

    .text_box h1 {
        font-size: 7vw;
    }

    .text_box p {
        font-size: 1.6vw;
        margin-top: 30px;
        line-height: 3vw;
    }

    .value {
        font-size: 25px;
    }

    .right_box p {
        margin-top: 60px;
    }


    #bi>h1 {
        text-align: center;
        font-size: 210px;
    }

    /* BI */
    .bi_box {
        width: 40%;
    }

    .bi_box p {
        font-size: 1vw;
    }
    .bi_box h2 {
        top: -4%;
        font-size: 30px;
    }

    .bi_box2 h2 {
        top: -4%;
        font-size: 30px;
    }

    .bi_box2 {
        left: 5%;
        width: 40%;
    }

    .bi_box2 p {
        font-size: 1vw;
        margin-top: 10px;
    }

    .img_box h1 {
        margin-bottom: 0;
        font-size: 25px;
    }


    /* where are we */
    .address_box p {
        font-size: 16px;
    }







/* where are we 글자크기조절 */
@media (min-width:768px) and (max-width:1205px){
    .phone {
        width: 20%;
        justify-content: space-around;
    }

    .address {
        width: 80%;
    }
}

@media (min-width:768px) and (max-width:980px){
  
    .address_box {
        width: 90%;
}
}

@media (min-width:768px) and (max-width:850px){

    .address_box {
        width: 95%;
}
}

@media (min-width:978px) and (max-width:1022px){
    .phone {
        width: 22%;
    }
}




/* con2, bi 글씨크기조절 */
@media (min-width:768px) and (max-width:1070px){
    .text_box {
        padding-top: 10px;
    }
    .text_box p {
        font-size: 15px;
        margin-top: 9px;
    }

    .value {
        font-size: 18px;
        padding-left: 40px;
    }

    .right_box p {
        margin-top: 0;
        line-height: 30px;
    }

    .bi_box p {
        margin-top: 12px;
        line-height: 20px;
        font-size: 11px;
    }

    .img_box {
        margin-top: 8px;
    }
    .bi_box{
        padding-bottom: 0;
    }
    .bi_box2 p {
        font-size: 12px;
        margin-top: 0px;
        line-height: 20px;
    }
    .bi_box2{
        padding-bottom: 0;
    }
    
    .img_box h1 {
        font-size: 22px;
    }

    .img_box {
        margin-top: 0;
    }
    .bi_box3 p {
        padding-bottom: 28px;
    }

    .bi_box3 {
        margin-top: 250px;
    }

    .bi_box2 {
        margin-top: 250px;
    }
}
@media (min-width:768px) and (max-width:1070px){
    .right_box p {
        margin-top: 47px;
}
.line2 {
    top: 15%;
    height: 85%;
}
}


@media (max-width:912px){
    .phone {
        width: 22%;
    }
}


@media (min-width:768px) and (max-width:886px){
    .text_box p {
        font-size: 13px;
    }
    .bi_box2 p {
        font-size: 10px;
    }

    .img_box h1 {
        font-size: 20px;
    }

    .bi_box p {
        font-size: 10px;
    }

    .bi_box h2 {
        top: -8%;
    }

    .bi_box2 h2 {
        top: -8%;
    }

    .bi_box {
        padding-right: 10px;
    }

    .bi_box2 {
        left: 4%;
    }
}


/* 지도 글씨크기조절 */
@media (min-width:768px) and (max-width:800px){
    #map {
        width: 90%;
    }
}


/* moblie */
@media (max-width:767px){
    .gnb_inner{
        width: 100%;
        justify-content: flex-end;
    }
  
    .gnb_inner ul{
        display: none !important;
    }
    .slide-open {

    position: fixed;
    top: 14px;
    left: 10px;
    width: 69px;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}
    .ham_img{
        display: none;
    }

    .mapp{
        height: 80vw;
    }

    
    .slide ul{
        display: contents !important;
    }
    .artist li a {
        font-size: 9vw;
        line-height: 5vw;
    }


    .ham_text{
        width: 100%;
    }
    .ham_box{
        width: 90%;
    }
    .burgur,
    .top-line,
    .bot-line{
        left: 20px;
    }
    .gnb_inner h1 img {
        width: 70%;
        padding-top: 7px;
    }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .slide ul {
        font-size: 14vw;
    }
    .ori_video{
        display: none;
    }
    .m_video{
        display: block;
    }

     /* footer */
     #footer {
        padding-bottom: 20px;
    }
    .footer_in{
        width: 100%;
        top: 35%;
    }
    .footer_in img {
        width: 25%;
    }
    .footer_in p{
        padding-bottom: 20px;
    }

    .footer_in ul {
        padding-bottom: 10px;
        padding-top: 15px;
        text-align: left;
        display: flex;
        list-style: inside;
    }
    .footer_in ul li {
        padding: 1vw 10px;
    }
    .footer_in ul li a {
        font-size: 2vw;

    }
    .footer_in ul li a:hover{
        color: #7a00ff;
    }

    /* video */



    /* con1 */
    

    #con1 img {
        width: 70%;
        margin-top: 0;
    }
    #con1 {
        width: 90%;
    }
    #con1 h1 {
        font-size: 40px;
    }

    #con1 h2 {
        font-size: 18px;
        margin: 32px 0;
    }

    #con1 p {
        font-size: 17px;
        line-height: 35px;
    }


    /* con2 */
    .con2_box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap-reverse;
        position: relative;
    }

    .con2_box img {
        width: 100%;
        position: absolute;
        top: 13%;
    left: 0%;
        height: auto;
    }

    .text_box {
    width: 100%;
    }

    .text_box p {
        font-size: 3.3vw;
        margin-top: 60vw !important;
        line-height: 5vw;
}

.value {
    margin-top: 59vw;
}
.right_box p {
    margin-top: 70vw !important;
}
.right_box {
    margin-top: 31vw;
}
.con2_box2 img {
    top: 42.5vw !important;
}

/* BI */
#bi>h1 {
    font-size: 150px;
    margin-bottom: 50px;
}

.bi_box {
    position: inherit;
     top: 0%;
    left: 0%; 
    width: 90%;
    margin: 0 auto;
}
.bi_box2 {
    position: inherit;
    left: 0%;
    width: 90%;
    margin: 124px auto;
}

.bi_box p {
    font-size: 2.5vw;
    line-height: 5.5vw;
}
.bi_box2 p {
    font-size: 2.5vw;
    line-height: 5.5vw;
}


.address_box p {
    font-size: 16px;
}

#map {
    width: 90%;
}

.address_box {
    width: 100%;
    display: block;
}

.address {
    width: 100%;
}

.phone img {
    width: 4vw;
    height: fit-content;
    margin-top: 5px;
}
.address img {
    width: 3.5vw;
}

.phone {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: normal;
}

}

/* con2 글자 마진 높이 조절 */



@media (max-width:580px){
    .con2_box2 img {
        top: 33%;
    }
    .value {
        font-size: 4vw;
    }
    .right_box p {
        margin-top: 72.3vw !important;
    }
}






@media (max-width:551px){
 
    .con2_box2 img {
    top: 43vw !important;
}
.right_box {
    margin-top: 32vw;
}
.address_box p {
    font-size: 2.6vw;
}
}


@media (max-width:484px){
    #con1 p {
        font-size: 3.5vw;
        line-height: 7vw;
    }
    #con1 h2 {
        font-size: 4vw;
        margin: 6vw 0;
    }
    #con1 h1 {
        font-size: 8vw;
    }
    .img_box {
        justify-content: space-between;
    }
    .img_box h1 {
        font-size: 5.5vw;
    }
}




@media (max-width:360px){
    .con2_box2 img {
        top: 45vw !important;
    }
    .right_box {
        margin-top: 32vw;
    }
}


@media (max-width:330px){
    .footer_in ul {
        display: block;
    }
}