@charset "utf-8";

/* swiper */


.swiper {
  width: 100%;
 padding-top: 110px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
    width: 80%; /* 너비를 조정하세요 */
    margin-top: 150px;
  }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* gnb */
#gnb{
    z-index: 9999; /* 다른 엘리먼트보다 위로 올리기 */
    height: 79.92px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.gnb_inner{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.gnb_inner ul{
    display: flex;
    width: 33%;
    align-items: center;
}
.gnb_inner ul li{
    width: 50%;
    text-align: center;
}
.gnb_inner h1{
    width: 130px;
}
.gnb_inner h1 img{
    width: 100%;
}

/* 세부메뉴 내용 */
.slide ul{
    display: contents;
    font-size: 70px;
}
.ham_box{
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}
.ham_text{
    width: 40%;
}

.ham_text ul li{
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
.ham_img{
    width: 50%;
    line-height: 541px;
}
.ham_img img{
    vertical-align: middle;
    width: 100%;
}
.artist{
    line-height: 10px;
    padding: 5px 0;
}
.artist span{
    font-size: 75px;
}
.artist li{
    padding: 10px !important;
}
.artist li a{
    font-size: 40px;
    font-weight: 200;
}
.no_pa{
    padding-bottom: 0 !important;
}


/* gnb hover값 */
#gnb ul li a:hover{
    color: #8f69ab;
}


/* 햄버거 */
/*필요스타일시작*/

		/*햄버거 버튼모양*/
		.slide-open {
            position: fixed;
            top: 14px;
            left: 59px;
            width: 69px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
        }
		.burgur{
		left: 70px;
		top: 36px;
		position: fixed;
		width: 50px;
		height: 3px;
		background: #ffffff;
		}
		.burgur .top-line{
		width: 50px;
		height: 3px;
		background-color: #ffffff;
		bottom: -8px;
		content: '';
		position: absolute;
		left: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;

		}
		.burgur .bot-line {
		width: 50px;
		height: 3px;
		background-color: #ffffff;
		top: -8px;
		content: '';
		position: absolute;
		left: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;
		}

		.burgur.on {
		width: 0;
		}
		.burgur.on .bot-line {
		-webkit-transform: translateY(5px) rotate(135deg);
		transform: translateY(8px) rotate(135deg);
		}
		.burgur.on .top-line{
		-webkit-transform: translateY(-5px) rotate(-135deg);
		transform: translateY(-8px) rotate(-135deg);
		}

		/*메뉴부분 모양*/
		.slide{
			padding-top:50px;
			width:100%;/*이 너비에 따라 보이는 부분이 변화함*/
			position:fixed;
			left:-200%;
			top:0;
			bottom:0;
			-webkit-transition: left .3s;
			-moz-transition: left .3s;
			-ms-transition: left .3s;
			-o-transition: left .3s;
			transition: left .3s;
			background-color:#000000;
		}
		.slide-title{
			width:100%;
			height:100px;
			font-size:42px;
			display:flex;
			justify-content:center;
			align-items:center;
			border-bottom:1px solid #e1e1e1;
		}
		.slide.on{
			left:0;
		} 
	
		
		/*필요스타일끝*/
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img, video, iframe{
    vertical-align: middle;
}
img, video{
    max-width: 100%;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: white;
}


.swiper-button-next,
.swiper-button-prev{
    color: white !important;
}
.swiper-pagination-bullet{
    background-color: white !important;
    padding: 4px;
}

.swiper-horizontal>.swiper-pagination-bullets{
   bottom: 1ex !important;
}
        
.front {
    width: 35%;
    position: absolute;
    top: 10vh;
    left: 20%;
    z-index: 999;
    pointer-events: none;
}
.front2 {
    width: 5%;
    position: absolute;
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    pointer-events: none;
}


/* Artist introduction video */
#artist_intro{
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
}





/* ARTIST PROFILE */
#profile{
    margin: 0 auto;
    width: 1300px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: solid white 2px;
}

.p_img{
    width: 45%;
    text-align: center;
}
.p_context{
    width: 53%;
    border-top: solid white 2px;
    padding: 24px;
    font-family: "Noto sans";
    margin: 0 auto;
    padding-top: 2vw;
}
.p_context h3{
    font-weight: 200;
    font-size: 20px;
}
.p_context p {
    font-size: 60px;
    font-weight: bold;
}
.p_context h2{
    font-size: 20px;
    padding: 20px 0 40px;
}

.bar_sns{
    display: flex;
    justify-content: space-between;
}

.sns_box{
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}
.icon{
    position: relative;
    margin-right: 5px;
}
.icon:hover .hover_us{
    opacity: 1;
    transition: all 0.2s;
}
.hover_us{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.album_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album_box img{
    width: 32%;
}
.title{
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.title h4, h5{
    display: inline-block;
    line-height: 45px;
}
.title h4{
    width: 30%;
    font-size: 23px;
    font-weight: normal;
    margin-left: 40px;
}
.title h5{
    width: 50%;
    font-size: 19.27px;
    font-weight: 100;
    margin-right: 45px;
}




        /* footer */
#footer{
    margin-top: 150px;
    position: relative;
    margin-bottom: 30px;
}
#footer>img{
    width: 100%;
}
.footer_in{
    position: absolute;
    text-align: center;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(194, 194, 194);
}
.footer_in img{
    width: 30%;

}
.footer_in ul{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 20px;
    list-style: inside;
}
.footer_in ul li{
    padding: 0 10px;
}
.footer_in ul li a{
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-family: "Noto sans";
}






/* tablet */
@media (min-width:768px) and (max-width:1319px){
    
    .gnb_inner{
        width: 100%;
        justify-content: center;
    
    }
    .gnb_inner ul{
        width: 25%;
    }
    
    .burgur{
        left: 30px;
    }
    .slide-open {
 
            position: fixed;
            top: 14px;
            left: 20px;
            width: 69px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
        }

    .slide ul{
        font-size: 50px;
    }
    .artist li a{
        font-size: 30px;
    }
    .artist_title img {
        padding-right: 50px;
    }
    .ham_text{
        width: 47%;
    }
    .ham_img{
        line-height: 450px;
    }

    .front {
        top: 20%;
    }

    /* profile */
    #profile{
        width: 90%;
        padding-bottom: 10px;
    }

    .p_img {
        width: 40%;
    }

    .p_context h2 {
        font-size: 18px;
        padding: 0px 0 14px;
    }

    .album_box img {
        width: 33%;
    }

    .title h4 {
        width: 30%;
        font-size: 20px;
        font-weight: normal;
        margin-left: 23px;
    }

    .title h5 {
        width: 90%;
        font-size: 15px;
        font-weight: 100;
        padding-left: 10px;
        margin-right: 0;
    }


    .title h4, h5 {
        display: inline-block;
        line-height: 40px;
    }
    .front2 {
        bottom: 5ex;
    }


    



    /* footer */
    .footer_in {
        top: 50%;
    }
    .footer_in img{
        width: 25%;
    }

    .footer_in ul {
       padding: 8px 0 9px;
    }
    .footer_in p{
        font-size: 15px;
    }
}



/* profile 텍스트조정 */
@media (min-width:768px) and (max-width:1012px){
    .p_context h3 {
        font-size: 18px;
    }

    .p_context p {
        font-size: 40px;
    }

    .p_context h2 {
        font-size: 14px;
    }

    .title h4, h5{
        line-height: 25px;
    }

    .title h4 {
        font-size: 15px;
    }

    .title h5 {
        width: 90%;
        font-size: 12px;
        font-weight: 100;
        padding-left: 23px;
    }
}






/* moblie */
@media (max-width:767px){
    .gnb_inner{
        width: 100%;
        justify-content: flex-end;
    }
  
    .gnb_inner ul{
        display: none !important;
    }
    .slide-open {

    position: fixed;
    top: 14px;
    left: 10px;
    width: 69px;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}
    .ham_img{
        display: none;
    }
    .slide ul{
        display: contents !important;
    }
    .ham_text{
        width: 100%;
    }
    .ham_box{
        width: 90%;
    }
    .burgur,
    .top-line,
    .bot-line{
        left: 20px;
    }
    .gnb_inner h1 img {
        width: 70%;
        padding-top: 7px;
    }

/* video intro */
    #artist_intro{
        width: 100%;
        margin-top: 20vw;
    }
    #profile {
        margin-top: 30vw;
    }

     /* footer */
     #footer {
        padding-bottom: 20px;
    }
    .footer_in{
        top: 35%;
        width: 100%;
    }
    .footer_in img {
        width: 25%;
    }

   .footer_in ul {
        padding-bottom: 10px;
        padding-top: 15px;
        text-align: left;
        display: flex;
        list-style: inside;
    }
    .footer_in ul li {
        padding: 1vw 10px;
    }
    .footer_in ul li a {
        font-size: 2vw;

    }
    .footer_in ul li a:hover{
        color: #7a00ff;
    }
    .slide ul {
        font-size: 12vw;
    }
    .artist li a {
        font-size: 9vw;
        line-height: 5vw;
}
.footer_in p{
    padding-bottom: 20px;
}


    /* profile */
    #profile{
        width: 90%;
        padding-bottom: 10px;
    }

    .p_context h2 {
        font-size: 18px;
        padding: 0px 0 14px;
    }

    .album_box img {
        width: 33%;
    }

    .title h4 {
        width: 30%;
        font-size: 20px;
        font-weight: normal;
        margin-left: 23px;
    }

    .p_context h3 {
        font-size: 18px;
    }

    .p_context p {
        font-size: 40px;
    }

    .p_context h2 {
        font-size: 14px;
    }

    .title h4, h5{
        line-height: 30px;
    }

    .title h4 {
        font-size: 16px;
    }

    .title h5 {
        width: 90%;
        font-size: 14px;
        font-weight: 100;
        padding-left: 35px;
        margin-right: 0;
    }
    

    .p_img {
        width: 90%;
        margin: 0 auto;
    }
    .p_context h2 {
        font-size: 12px;
        padding: 15px 0 25px;
    }

    .p_context {
        width: 90%;
        border-top: none;
    }
    #profile{
        display: block;
    }

    
    .front2 {
        width: 10%;
    bottom: 3ch;
    }

    .front{
        width: 60%;
    }
}

@media (max-width:450px) {
    .album_box {
    justify-content: space-around;
    flex-wrap: wrap;
    }
  
    .p_context h2 {
    font-size: 3.5vw;
    }
    .album_box {
    width: 100%;
    display: block;
    }
    .album_box img {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    }
    .title {
        width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.title h4 {
    font-size: 5vw;
    margin-left: 0;
}
.title h5 {
    width: 90%;
    font-size: 3.5vw;
    font-weight: 100;
    padding-left: 8vw;
}
.p_context {
    padding-bottom: 0;
}
.bar_sns {
    display: block;
}
.sns_box {
    justify-content: flex-start;
}
}


@media (max-width:330px){
    .footer_in ul {
        display: block;
    }
}

.swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,58%) !important;
}