@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img, video, iframe{
    vertical-align: middle;
}
img, video{
    max-width: 100%;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: white;
}

/* gnb */
#gnb{
    z-index: 1; /* 다른 엘리먼트보다 위로 올리기 */
    height: 79.92px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.gnb_inner{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.gnb_inner ul{
    display: flex;
    width: 33%;
    align-items: center;
}
.gnb_inner ul li{
    width: 50%;
    text-align: center;
}
.gnb_inner h1{
    width: 130px;
}
.gnb_inner h1 img{
    width: 100%;
}

/* 세부메뉴 내용 */
.slide ul{
    display: contents;
    font-size: 70px;
}
.ham_box{
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}
.ham_text{
    width: 40%;
}

.ham_text ul li{
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
.ham_img{
    width: 50%;
    line-height: 541px;
}
.ham_img img{
    vertical-align: middle;
    width: 100%;
}
.artist{
    line-height: 10px;
    padding: 5px 0;
}
.artist span{
    font-size: 75px;
}
.artist li{
    padding: 10px !important;
}
.artist li a{
    font-size: 40px;
    font-weight: 200;
}
.no_pa{
    padding-bottom: 0 !important;
}


/* gnb hover값 */
#gnb ul li a:hover{
    color: #8f69ab;
}


/* 햄버거 */
/*필요스타일시작*/

		/*햄버거 버튼모양*/
		.slide-open {
            position: fixed;
            top: 14px;
            left: 59px;
            width: 69px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
        }
		.burgur{
		left: 70px;
		top: 36px;
		position: fixed;
		width: 50px;
		height: 3px;
		background: #ffffff;
		}
		.burgur .top-line{
		width: 50px;
		height: 3px;
		background-color: #ffffff;
		bottom: -8px;
		content: '';
		position: absolute;
		left: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;

		}
		.burgur .bot-line {
		width: 50px;
		height: 3px;
		background-color: #ffffff;
		top: -8px;
		content: '';
		position: absolute;
		left: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;
		}

		.burgur.on {
		width: 0;
		}
		.burgur.on .bot-line {
		-webkit-transform: translateY(5px) rotate(135deg);
		transform: translateY(8px) rotate(135deg);
		}
		.burgur.on .top-line{
		-webkit-transform: translateY(-5px) rotate(-135deg);
		transform: translateY(-8px) rotate(-135deg);
		}

		/*메뉴부분 모양*/
		.slide{
			padding-top:50px;
			width:100%;/*이 너비에 따라 보이는 부분이 변화함*/
			position:fixed;
			left:-200%;
			top:0;
			bottom:0;
			-webkit-transition: left .3s;
			-moz-transition: left .3s;
			-ms-transition: left .3s;
			-o-transition: left .3s;
			transition: left .3s;
			background-color:#000000;
		}
		.slide-title{
			width:100%;
			height:100px;
			font-size:42px;
			display:flex;
			justify-content:center;
			align-items:center;
			border-bottom:1px solid #e1e1e1;
		}
		.slide.on{
			left:0;
		} 
	
		
		/*필요스타일끝*/

#event{
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    }
    #event>h1{
        font-size: 48px;
    font-family: "josefin sans";
}


/*Demo styles*/
    html,
    body {
      position: relative;

    }



    .swiper {
      width: 100%;
   
    }

    .swiper-slide {
        width: 100% !important;
      text-align: center;
      font-size: 18px;
      background: #000000;
      display: grid !important;
    align-content: space-between;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      margin-bottom: 50px;
      object-fit: cover;
    }
    .swiper-wrapper{
        width: 80%;
    margin: 0 auto;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
    }

    .swiper-slide h1{
        width: 23%;
        margin: 0 auto;
   
    }
    .poster_box{
        text-align: left;
        background-color: #464646;
        padding: 85px 0;
        width: 58%;
    margin: 0 auto;
    font-family: "noto sans";
    }
    .poster_text{
        width: 80%;
        margin: 0 auto;
    }
    .poster_box h2{
        font-weight: bold;
        font-size: 40px;
    }
    .poster_box h3, .poster_box p{
        font-weight: normal;
        font-size: 20px;
    }
    .poster_box h3{
        margin: 30px 0;
    }
    .poster_box ul{
        margin-top: 60px;
    }
    .poster_box ul li{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .poster_box ul li span{
        font-weight: bold;
        font-size: 26px;
        color: #5f65a2;

        padding-right: 15px;
    }
    .poster_box ul li .pink{
        color: #8c66a6;
    }

    :root {
    --swiper-theme-color: #a35ce6 !important;
}

.swiper-pagination-bullet {
    background: #fff !important;
    opacity: unset !important;
}
.swiper-pagination-bullet-active{
    background-color: #a35ce6 !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: var(--swiper-pagination-top,33.3vw) !important;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,19px))  !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,19px))!important;
}

.last_no{
    margin-bottom: 0 !important;
}
:root {
    --swiper-navigation-size: 60px !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,12vw) !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,12vw) !important;
}




.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: unset !important;
    left: 50% !important;
    width: 30% !important;
    transform: translateX(-50%);
    position: absolute;
}


.swiper-pagination {
    z-index: 0 !important;
}





/* 아코디언 */
.accordion-btn {
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border-bottom: white solid 1px;
    border-left: black;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-left: black;
    border-block-start: none;
  }
  
  .accordion-active, .accordion-btn:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#686eb3+0,3a3b5f+24,946bae+50,5a3480+75,af62a5+100 */
background: #686eb3; /* Old browsers */
background: -moz-linear-gradient(left,  #686eb3 0%, #3a3b5f 24%, #946bae 50%, #5a3480 75%, #af62a5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #686eb3 0%,#3a3b5f 24%,#946bae 50%,#5a3480 75%,#af62a5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #686eb3 0%,#3a3b5f 24%,#946bae 50%,#5a3480 75%,#af62a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686eb3', endColorstr='#af62a5',GradientType=1 ); /* IE6-9 */

  
  }
  
  
  .panel-content {
    color: white;
    padding: 0 18px;
    background-color: rgb(0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  
  }

  #aco{
    font-family: "Noto sans";
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
  }
  #aco>h1{
    font-size: 48px;
    font-family: "josefin sans";
  }
  .title, .context{
    width: 1140px;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .context{
    border-top: white solid 1px;
  }

  .title{
    display: flex;
    justify-content: space-between;
    border-top: white 3px solid;
    border-bottom: white 3px solid;
    padding: 20px 40px;
    font-family: "Noto sans";
  }
  .box_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-family: "Noto sans";
  }
  .box_title p{
    padding-left: 44px;
    font-weight: bold;
    font-size: 18px;
  }
  .box_title h2{
    padding-left: 29px;
    font-size: 20px;
  }
  .box_title h4{
    margin-top: 20px;
    margin-right: 18px;
    font-weight: 300;
  }

    .panel-content p{
        padding: 15px 40px;
        font-weight: 200;
        line-height: 28px;
    }
    .bold{
        font-weight: 700 !important;
    }

    .number{
        width: fit-content;
        margin: 100px auto 0;
        text-align: center;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
    .number a{
        padding: 0 10px;
    }
    .on{
        color: #af62a5;
    }
      

 






        /* footer */
#footer{
    margin-top: 150px;
    position: relative;
    margin-bottom: 30px;
}
.footer_in{
    position: absolute;
    text-align: center;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(194, 194, 194);
}
.footer_in img{
    width: 30%;

}
.footer_in ul{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 20px;
    list-style: inside;
}
.footer_in ul li{
    padding: 0 10px;
}
.footer_in ul li a{
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-family: "Noto sans";
}






/* EVENT글씨크기조절 */
@media (min-width:1319px) and (max-width:1755px){
    .poster_box h3, .poster_box p {
        font-size: 15px;
    }
    .poster_box h2 {
        font-size: 30px;
    }
    .poster_box {
        padding: 44px 0;
    }
    .poster_box ul{
        font-size: 17px;
        margin-top: 31px;
    }
    .poster_box ul li span {
        font-size: 23px;
    }
}

@media (min-width:1319px) and (max-width:1320px){
    .poster_box h3, .poster_box p {
        font-size: 14px;
    }
}


/* tablet */
@media (min-width:768px) and (max-width:1319px){
    
    .gnb_inner{
        width: 100%;
        justify-content: center;
    
    }
    .gnb_inner ul{
        width: 25%;
    }
    
    .burgur{
        left: 30px;
    }
    .slide-open {
 
            position: fixed;
            top: 14px;
            left: 20px;
            width: 69px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
        }

    .slide ul{
        font-size: 50px;
    }
    .artist li a{
        font-size: 30px;
    }
    .artist_title img {
        padding-right: 50px;
    }
    .ham_text{
        width: 47%;
    }
    .ham_img{
        line-height: 450px;
    }



    .poster_box h3, .poster_box p {
        font-size: 14px;
    }
    .poster_box h2 {
        font-size: 30px;
    }
    .poster_box {
        padding: 44px 0;
    }
    .poster_box ul{
        font-size: 17px;
        margin-top: 31px;
    }
    .poster_box ul li span {
        font-size: 23px;
    }



    /* footer */
    .footer_in {
        top: 50%;
    }
    .footer_in img{
        width: 25%;
    }

    .footer_in ul {
       padding: 8px 0 9px;
    }
    .footer_in p{
        font-size: 15px;
    }
}

/* 아코디언 미디어쿼리 */
@media (min-width:768px) and (max-width:1140px){
    #aco{
        width: 100%;
    }
    .title{
        width: 100%;
    }
    .context{
        width: 100%;
    }
    #event{
        width: 100%;
    }

    .box_title h2 {
        padding-left: 29px;
        font-size: 16px;
    }
}





@media (min-width:768px) and (max-width:1240px){
    .poster_box {
        width: 70%;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset,6vw) !important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset,6vw) !important;
    }
}
@media (min-width:768px) and (max-width:1028px){
    .poster_box h2 {
        font-size: 25px;
    }
    .poster_text {
        width: 85%;
        margin: 0 auto;
    }
    .poster_box ul li span {
        font-size: 20px;
    }
    .poster_box ul {
        font-size: 15px;
    }
    .poster_box h3, .poster_box p {
        font-size: 13px;
    }
    .poster_box h3 {
        margin: 16px 0;
    }
}
@media (min-width:768px) and (max-width:903px){
    .poster_box h3, .poster_box p {
        font-size: 12px;
    }
    .poster_text {
        width: 92%;
    }
    .poster_box {
        width: 80%;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset,4vw) !important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset,4vw) !important;
    }
}







/* moblie */
@media (max-width:767px){

    .swiper-slide h1 {
        width: 50%;
    }
    .poster_box {
        width: 100%;
        padding: 29px 0;
    }
    .poster_box h2 {
        font-size: 30px;
    }
    #event{
        width: 100%;
    }
    .poster_box h3 {
        margin: 25px 0;
    }
    .poster_box ul {
        margin-top: 24px;
    }


    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        top: var(--swiper-pagination-top,74vw) !important;
    }

.swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,34vw) !important;
}


.panel-content p{
    font-size: 2vw;
}
.panel-content p {

    line-height: 3.5vw;
}



    /* 아코디언 */
    #aco{
        width: 100%;
    }
    .title{
        width: 100%;
    }
    .context{
        width: 100%;
    }

    .box_title h2 {
        padding-left: 29px;
        font-size: 15px;
    }
    .box_title {
        font-size: 15px;
    }
    

    .box_title h4 {
        font-size: 3vw;
    }







    .gnb_inner{
        width: 100%;
        justify-content: flex-end;
    }
  
    .gnb_inner ul{
        display: none !important;
    }
    .slide-open {

    position: fixed;
    top: 14px;
    left: 10px;
    width: 69px;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}
    .ham_img{
        display: none;
    }
    .slide ul{
        display: contents !important;
    }
    .ham_text{
        width: 100%;
    }
    .ham_box{
        width: 90%;
    }
    .burgur,
    .top-line,
    .bot-line{
        left: 20px;
    }
    .gnb_inner h1 img {
        width: 70%;
        padding-top: 7px;
    }

     /* footer */
     #footer {
        padding-bottom: 20px;
    }
    .footer_in{
        top: 35%;
    }
    .footer_in img {
        width: 25%;
    }

    .footer_in ul {
        padding-bottom: 10px;
        padding-top: 15px;
    }

}

@media (max-width:767px){
    .poster_box h3, .poster_box p {
        font-size: 16px;
    }
    .poster_box h3 {
        margin: 20px 0;
    }

    .poster_box ul li span {
        font-size: 20px;
    }
    .poster_box ul{
        font-size: 16px;
    }


     #footer {
        padding-bottom: 20px;
    }
    .footer_in{
        top: 35%;
        width: 100%;
    }
    .footer_in img {
        width: 25%;
    }

   .footer_in ul {
        padding-bottom: 10px;
        padding-top: 15px;
        text-align: left;
        display: flex;
        list-style: inside;
    }
    .footer_in ul li {
        padding: 1vw 10px;
    }
    .footer_in ul li a {
        font-size: 2vw;

    }
    .footer_in ul li a:hover{
        color: #7a00ff;
    }
    .slide ul {
        font-size: 12vw;
    }
    .artist li a {
        font-size: 9vw;
        line-height: 5vw;
}
.footer_in p{
    padding-bottom: 20px;
}
}
@media (max-width:628px){
    .poster_box h2 {
        font-size: 26px;
    }
    .poster_text {
        width: 90%;
    }
    .poster_text ul{
        font-size: 14px;
    }
}


@media (max-width:499px){
     .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        top: var(--swiper-pagination-top,75vw) !important;
        width: 100% !important;
    }
    .poster_box h2 {
    font-size: 5vw;
}
.poster_box h3, .poster_box p {
    font-size: 3.5vw;
}
.poster_box ul li span {
    font-size: 4.5vw;
}
.poster_text ul {
    font-size: 3vw;
}
.number {
    width: fit-content;
    margin: 10vw auto 0;

}

.title {
    padding: 3vw 9vw;
}
.box_title p {
    padding-left: 9.3vw;
    font-weight: bold;
    font-size: 3.8vw;
}

.box_title h2 {
    padding-left: 3vw;
    font-size: 3vw;
}

:root {
    --swiper-navigation-size: 10vw !important;
}
}








.swiper {
    z-index: unset !important;
    position: relative !important;
}

.swiper-wrapper {
    z-index: auto !important;
}

.swiper-button-prev{
    z-index: auto !important;
}
.swiper-button-next {
    z-index: auto !important;
}

@media (max-width:330px){
    .footer_in ul {
        display: block;
    }
}